body {
  background-color: rgba(35,39,42);
}

h1 {
    color: white;
}

h2 {
    color: white;
}

a:link {
  text-decoration: none;
}

a:visited {
  color: yellow;
}

a:unvisited {
  color: white;
}

a:hover {
  color: yellow;
}

a:active {
  color: yellow;
}

